.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #61728333;
    border-radius: 6px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.btn__primary {
    color: white;
    background-color: #35B8BE;
}

.btn__primary:hover {
    background-color: #06b8c260;
}

.btn__secondary  {
    color:#222;
    background-color: transparent;
}

.btn__secondary:hover {
    color: white;
    background-color: #35B8BE;
}