.footer {
  background-image: url("public/footer.png");
  background-size: cover;
  padding: 100px 120px;
}

.footer .container_up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer_column {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer_down_right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer_icon {
  width: 40px;
  height: 40px;
}

.footer_logo {
  margin-bottom: 25px;
}

.footer_up_right {
  display: flex;
  gap: 126px;
}

.line {
  height: 1px;
  background-color: #7e828f17;
  margin-bottom: 72px;
}

.takeaway_text {
  max-width: 246px;
  color: #546285;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 27px;
  margin-bottom: 100px;
}

.common_font a {
  color: #546285;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer__column--uppercase {
  color: black;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.container_down {
  display: flex;
  justify-content: space-between;
}